
// Ratios
$double-octave    : 4                 ;
$pi               : 3.14159265359     ;
$major-twelfth    : 3                 ;
$major-eleventh   : 2.666666667       ;
$major-tenth      : 2.5               ;
$octave           : 2                 ;
$major-seventh    : 1.875             ;
$minor-seventh    : 1.777777778       ;
$major-sixth      : 1.666666667       ;
$phi              : 1.618034          ;
$golden           : $phi              ;
$minor-sixth      : 1.6               ;
$fifth            : 1.5               ;
$augmented-fourth : 1.41421           ;
$fourth           : 1.333333333       ;
$major-third      : 1.25              ;
$minor-third      : 1.2               ;
$major-second     : 1.125             ;
$minor-second     : 1.066666667       ;


$font-size-base:1rem;
$line-height-base:1.5;

$input-btn-line-height:1.2;



//fonts 
//$font-family-sans-serif:'Roboto', sans-serif;
$font-family-sans-serif:'Inter', sans-serif;

//colors

$blue:#354eba;
$gray-100:#5A5B6A;
$gray-200:#D8D8D8;
$gray-600:#777777;
$orange:#F26F21;
$yellow:#FFC043;
$border:#E6E6E6;
$dark:#282828;
$info:#4381FF;
$body-bg:#F6F6F6;
$green:#35B44B;
$gray-400:#4F4F4F;

//grid
$grid-gutter-width: 32px !default;

$section-backgrounds:('about':#f7E0DA,'about2':#EFEAD0,'menu':#CEDDD2,'order':#dee4f4)













