.menu {
  &-carousel {

    position: absolute;
    top:50%;
    width: 100%;
    transform: translateY(-50%);

    
  }

  &-img {
      margin-top: 6.5rem;
      @include media-breakpoint-down(md){
          margin-top: 0;
      }
  }
}

.tickerItem{
    font-size: 16rem;
    font-family: "Cstle";
    font-weight: 300;
    font-style: normal;
    color: $blue;
    white-space: nowrap;
    text-transform: uppercase;
    @include media-breakpoint-down(md){
        font-size: 12rem;
    }
    @include media-breakpoint-down(sm){
        font-size: 6rem;
    }
  
}


.link{
    display: inline-flex;
    align-items: center;
    position: relative;

   
    
    
    .dot{
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background-color: $blue;
        transition:all .6s ease-in-out;
        
    }
    
    span{
        text-transform: uppercase;
        margin-left: .5rem;
    }
    &:hover{
        .dot{
            transform: scale(10);
            opacity: 1;
            
        }
        
    }
}


.link1{
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #354eba;
  }
  .link1 .dot1{
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: -65px;
    margin-top: 4px;
  }
  .link1 span{text-transform: uppercase;margin-left: .5rem;}
  .link1 .dot1:before{
    content: "";
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #354eba;
    display: inline-block;
    
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: scale(.1);

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .link1 .dot1:after{
    transition: color 50s ease-in-out;
    -webkit-transition: all 150s ease-in-out;
    -moz-transition: all 50s ease-in-out;
    -o-transition: all 50s ease-in-out;
    color: #354eba;
  }

  .link1:hover .dot1:before{
    transform: scale(1);
    opacity: 1;
    backface-visibility: hidden;
  }

  .link1:hover .dot1:after{
    content: "Download menu";
    color: #354eba;
    position: absolute;
    left: 73px;
    text-transform: uppercase;
    white-space: nowrap;
    top: 43px;
    color: #fff;
    
  }
